*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
}
main, nav{
    background-color: #1d1b1a;
}
main div{
    position: relative;
}
nav{
    display: flex;
    height: 10.6vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5% 0 2.5%;
}
nav img{
    width: 100%;
    height: 8vh;
}
nav p{
    color: #ffffff;
    font-size: 1.2vw;
}
.contacts{
    display: flex;
    margin-right: 2%;
}
.contacts img{
    margin: 0 5% 0 5%;
}
.address{
    display: flex;
    justify-content: center;
    width: 600px;
    text-align: center;
    font-family: Arial, serif;
}
.arrow{
    transform: rotate(270deg);
    position: absolute;
    left: 47.5%;
    top: 43%;
    width: 5%;
}
.about{
    display: flex;
    justify-content: center;
}
.about__text_block{
    position: absolute;
    top: 10%;
    display: flex;
    width: 65%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.text_block__header{
    font-size: 2vw;
    font-weight: lighter;
    margin-bottom: 3%;
}
.text_block__spans{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 2vw;
}
.spans__text{
    margin-top: 5%;
}
.food{
    display: flex;
    justify-content: center;
}
.food__text_block{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
}
.food__header{
    margin: 5% 0 5% 0;
    font-size: 2vw;
    font-weight: lighter;
}
.food ul{
    list-style: none;
}
.text_block__products{
    width: 110%;
}
.list__element{
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    margin-bottom: 1%;
}
.drinks{
    display: flex;
    justify-content: center;
}
.drinks__header{
    margin: 5% 0 5% 0;
    font-size: 2vw;
    font-weight: lighter;
}
.drinks__text_block{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 0;
}

.text_block__drinks{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.drinks__alcohol, .drinks__nonalcoholic{
    width: 45%;
}
.text_block__drinks .element__price{
    text-align: right;
}
.text_block__drinks li{
    margin-bottom: 5%;
}
footer{
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    margin: 0 2.5% 0 2.5%;
    color: #ffffff;
}
